/*select { display: block; }  unimportant */

html, body{
    height: 100%;
}

.container-full {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#mapsframe {
    height: 100%;
    width: 100%;
}

#maps {
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    margin-left: 10%;\
    width: 80%;
    margin-right: 10%;
   
}

.col-md-2 {
    background-color: black;
}

